extends layout

block content
    .dash-wf-container
    for wf in workflows
        .dash-wf
            a(href=`/workflow/${wf.Id}`).dash-wf-title= wf.Name
            .field.service-field= `[ID: ${wf.Id}]`
            if wf.Description
                .field= `description: ${wf.Description}`
            if wf.CurrentNodeId
                .field.service-field= `current executed node id: ${wf.CurrentNodeId}`
            .field Status:
                +prettystatus(wf.State)
            div
                a.btn(href=`/workflow/${wf.Id}`) Details
                a.btn.btn-danger(href=`/workflow/${wf.Id}/delete`) Delete